<header>
    <mat-toolbar>
        <div class="image">
            <img src="assets\images\Logo.png">
        </div>
        <div class="links">
            <div class="buttons">
                <button class="Vender">Vender milhas</button>
                <button class="Sobre">Sobre</button>
                <ng-container *ngIf="user$ | async as User, else login">
                    <a routerLink="/perfil">
                        <img src="assets/icones/user.png" alt="Icone Pessoa">
                    </a>
                    <button mat-stroked-button>SAIR</button>
                </ng-container>
                <ng-template #login>
                    <button mat-raised-button class="cadastre-button" [routerLink]="['register']">CADASTRE-SE</button>
                    <button mat-stroked-button class="login-button" [routerLink]="['login']">LOGIN</button>
                </ng-template>

            </div>
        </div>
    </mat-toolbar>
</header>