<header>
    <mat-toolbar>
        <div class="image">
            <img src="assets\images\Logo.png">
        </div>
        <div class="links">
            <div class="buttons">
                <button class="Vender">Vender milhas</button>
                <button class="Sobre">Sobre</button>
                <button mat-raised-button class="cadastre-button">CADASTRE-SE</button>
                <button mat-stroked-button class="login-button">LOGIN</button>
            </div>
        </div>
    </mat-toolbar>
</header>