<section class="modal">
    <h1 mat-dialog-title>Viajante</h1>
    <div class="row" mat-dialog-content>
        <app-seletor-passageiro title="Adulto" subtitle="(Acima de 12 anos)"></app-seletor-passageiro>
        <app-seletor-passageiro title="Crianças" subtitle="(Entre 2 e 11 anos)"></app-seletor-passageiro>
        <app-seletor-passageiro title="Adulto" subtitle="(Até 2 anos)"></app-seletor-passageiro>
    </div>
    <div class="tipo">
        <p>Categoria</p>
        <mat-chip-listbox aria-label="Seleção de passagens">
            <mat-chip-option selected>Econômica</mat-chip-option>
            <mat-chip-option>Executiva</mat-chip-option>
        </mat-chip-listbox>
    </div>
    <div class="open-close" mat-dialog-actions>
        <button mat-button mat-dialog-close class="cancel" (click)="closeDialog()">Cancelar</button>
        <button mat-button cdkFocusInitial class="add">Adiconar</button>
    </div>
</section>