.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 220px;
    background-color: black;
    color: white;
}
.redes {
    align-items: center;
    text-align: center;
}