<div class="container">
    <div class="conteudo">
        <img src="assets/images/Logo.png" alt="Logo" width="160" height="40">
        <p>Horários de atendimento: 08h - 20h (Segunda a Sábado)</p>
        <p>Desenvolvido por Alura. Projeto fictício sem fins comerciais</p>
    </div>
    <div class="redes">
        <p>Acesse nossas redes:</p>
        <a href="https://web.whatsapp.com/" target="_blank" rel="noopener noreferrer">
            <img src="assets/icones/Whatsapp.png" alt="Whatsapp">
        </a>
        <a href="https://www.instagram.com/aluraonline/" target="_blank" rel="noopener noreferrer">
            <img src="assets/icones/Instragam.png" alt="Instagram">
        </a>
        <a href="https://x.com//" target="_blank" rel="noopener noreferrer">
            <img src="assets/icones/Twiter.png" alt="Twiter">
        </a>
    </div>
</div>